@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 300 900;
  src: url('./assets/fontsFigtree-VariableFont_wght.tff') format('tff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root{
    --yellow: hsl(47, 88%, 63%); 
    --white: hsl(0, 0%, 100%); 
    --gray-500: hsl(0, 0%, 42%); 
    --gray-950: hsl(0, 0%, 7%); 
}

* {
    box-sizing: border-box;
}

main {
    background: var(--yellow);
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    font-family: "Figtree", serif;
    font-size: 16px; 
    font-weight: 500;
}

h1 {
    font-weight: 800;
    font-size: 1.7rem; 
}

h1:hover {
    color: var(--yellow); 
    cursor: pointer;
}

.card {
    max-width: 384px; 
    width: 88%; 
    border: 2px solid black;
    border-radius: 20px; 
    padding: 24px;
    background-color: var(--white); 
    box-shadow: 8px 8px 0px 0px black;
    margin-bottom: 50px;
}

.card-image img {
    border-radius: 20px; 
    width: 100%; 
}

.card-tag {
    width: fit-content; 
}

.card-tag p {
    font-weight: 800; 
    background-color: var(--yellow);
    padding: 10px 20px;  
}

.card-author {
    display: flex; 
    flex-direction: row;
}

.card-author p {
    font-weight: 800;
    margin-left: 20px; 
}

