@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 300 900;
   src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype')
}

:root{
    --yellow: hsl(47, 88%, 63%); 
    --white: hsl(0, 0%, 100%); 
    --gray-500: hsl(0, 0%, 42%); 
    --gray-950: hsl(0, 0%, 7%); 
}

* {
    box-sizing: border-box;
}

img {
    display: block; 
    max-width: 100%; 
}

main {
    background: var(--yellow);
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    font-family: "Figtree", sans-serif;
    font-size: 16px; 
}

h1 {
    font-weight: 800;
    font-size: 1.7rem; 
}

a {
    text-decoration:  none;
    color: var(--gray-950); 
}

a:hover {
    color: var(--yellow); 
    cursor: pointer;
}

.card {
    max-width: 384px; 
    width: 88%; 
    border: 2px solid var(--gray-500); 
    border-radius: 20px; 
    padding: 24px;
    background-color: var(--white); 
    box-shadow: 8px 8px 0px 0px var(--gray-950);
    margin-bottom: 50px;
}

.card-image {
    margin-bottom: 1em; 
}

.card-image img {
    border-radius: 20px; 
    width: 100%; 
}

.card-tag {
    width: fit-content; 
    margin-bottom: 2em; 
}

.card-tag p {
    font-weight: 800; 
    background-color: var(--yellow);
    padding: 10px 20px;  
}

.card-published {
    margin-bottom: 0.5em; 
}

.card-header {
    margin-bottom: 1em; 
}

.card-content {
    margin-bottom: 2em; 
}

.card-author {
    display: flex; 
    flex-direction: row;
}

.card-author p {
    font-weight: 800;
    margin-left: 20px; 
}

